@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@rainbow-me/rainbowkit/styles.css";

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding: 0 !important;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: transparent !important;
}

.prose :where(p:last-child) {
  margin-bottom: 0 !important;
}

.wallet-adapter-button-trigger {
  background-color: #ff8c00 !important;
}
